<div class="container mt-4">
  <h2>Add new match</h2>

  <a href="/" class="btn btn-primary">View leaderboard</a>

  <a href="/matches/history" class="btn btn-primary">View previous matches</a>

  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>

<div class="container mt-4">
  <%- include('./partials/messages') -%>

  <form action="/matches/new" method="POST">
    <input type="hidden" value="<%= user.id %>" id="created_by" name="created_by">

    <div class="row">
      <div class="input-group mb-3 col-md">
        <div class="input-group-prepend">
          <span class="input-group-text">Player 1</span>
        </div>

        <select class="custom-select" id="player1" name="player1">
          <option value="">Choose...</option>
          <% players.forEach(player => { %>
            <option value="<%= player.id %>"<%= (player.id === user.id) ? ' selected' : (typeof player1 != 'undefined' && player1 === player.id) ? ' selected' : '' %>><%= player.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="input-group mb-3 col-md">
        <div class="input-group-prepend">
          <span class="input-group-text">Player 1 Score</span>
        </div>

        <input
          class="form-control"
          id="player1score"
          aria-label="Score"
          name="player1score"
          pattern="[0-9]*"
          type="text"
          value="<%= typeof player1score != 'undefined' ? player1score : '' %>"
        >
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-md">
        <div class="input-group-prepend">
          <label class="input-group-text" for="player2">Player 2</label>
        </div>

        <select class="custom-select" id="player2" name="player2">
          <option value="">Choose...</option>
          <% players.forEach(player => { %>
            <option value="<%= player.id %>"<%= typeof player2 != 'undefined' && player2 === player.id ? ' selected' : '' %>><%= player.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="input-group mb-3 col-md">
        <div class="input-group-prepend">
          <span class="input-group-text">Player 2 Score</span>
        </div>

        <input
          class="form-control"
          id="player2score"
          aria-label="Score"
          name="player2score"
          pattern="[0-9]*"
          type="text"
          value="<%= typeof player2score != 'undefined' ? player2score : '' %>"
        >
      </div>
    </div>

    <button type="submit" class="btn btn-success">
      Add match
    </button>
  </form>
</div>