<div class="container mt-4">
  <h2>Previous games</h2>

  <% if (user) { %><a href="/matches/new" class="btn btn-success">Add new match</a><% } %>

  <a href="/" class="btn btn-primary">View leaderboard</a>

  <% if (user) { %>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <% } else { %>
    <a href="/users/login" class="btn btn-secondary">Login</a>
  <% } %>
</div>

<div class="history mt-4">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="heading" scope="col">Date</th>
        <th class="heading" scope="col">P1</th>
        <th class="heading" scope="col">Score</th>
        <th class="heading" scope="col">P2</th>
      </tr>
    </thead>

    <tbody>
      <% matches.forEach(match => { %>
        <% var p1name = match.p1.id.name %>
        <% var player1_initials = p1name.match(/\b\w/g) || [] %>
        <% player1_initials = ((player1_initials.shift() || '') + (player1_initials.pop() || '')).toUpperCase() %>

        <% var p2name = match.p2.id.name %>
        <% var player2_initials = p2name.match(/\b\w/g) || [] %>
        <% player2_initials = ((player2_initials.shift() || '') + (player2_initials.pop() || '')).toUpperCase() %>

        <tr>
          <td class="history__col">
            <span class="mobile-hide"><%= match.formattedDate %></span>
            <span class="desktop-hide"><%= match.shortDate %></span>
          </td>
          <td class="history__col">
            <span class="mobile-hide"><%= match.p1.id.name %></span>
            <span class="desktop-hide"><%= player1_initials %></span>
          </td>
          <td class="history__col"><%= match.p1.score %> : <%= match.p2.score %></td>
          <td class="history__col history__col--name">
            <span class="mobile-hide"><%= match.p2.id.name %></span>
            <span class="desktop-hide"><%= player2_initials %></span>

            <% if (user && user._id.equals(match.created_by) && match.recent) { %>
              <a class="remove-match" href="/matches/delete/<%= match._id %>">
                <i class="fas fa-times"></i>
              </a>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>