<div class="container mt-4">
  <h2>Previous games</h2>

  <% if (user) { %>
    <a href="/matches/new" class="btn btn-success">Add new match</a>
  <% } %>

  <a href="/" class="btn btn-primary">View leaderboard</a>

  <% if (user) { %>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <% } else { %>
    <a href="/users/login" class="btn btn-secondary">Login</a>
  <% } %>
</div>

<div class="history mt-4">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="heading" scope="col">Date</th>
        <th class="heading" scope="col">Player 1</th>
        <th class="heading" scope="col">Score</th>
        <th class="heading" scope="col">Player 2</th>
      </tr>
    </thead>

    <tbody>
      <% matches.forEach(match => { %>
        <% var player1_split = match.p1.id.name.split(' ') %>
        <% var player1_short = `${player1_split[0]} ${player1_split[1][0]}` %>

        <% var player2_split = match.p2.id.name.split(' ') %>
        <% var player2_short = `${player2_split[0]} ${player2_split[1][0]}` %>

        <tr>
          <td class="history__col">
            <span class="mobile-hide"><%= match.formattedDate %></span>
            <span class="desktop-hide"><%= match.shortDate %></span>
          </td>
          <td class="history__col">
            <span class="mobile-hide"><%= match.p1.id.name %></span>
            <span class="desktop-hide"><%= player1_short %></span>
          </td>
          <td class="history__col"><%= match.p1.score %> : <%= match.p2.score %></td>
          <td class="history__col history__col--name">
            <span class="mobile-hide"><%= match.p2.id.name %></span>
            <span class="desktop-hide"><%= player2_short %></span>

            <% if (user && user._id.equals(match.created_by) && match.recent) { %>
              <a class="remove-match" href="/matches/delete/<%= match._id %>">
                <i class="fas fa-times"></i>
              </a>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>