<div class="container mt-4">
  <h2>Previous games</h2>

  <% if (user) { %><a href="/matches/new" class="btn btn-success">Add new match</a><% } %>

  <a href="/" class="btn btn-primary">View leaderboard</a>

  <% if (user) { %>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <% } else { %>
    <a href="/users/login" class="btn btn-secondary">Login</a>
  <% } %>
</div>

<div class="container mt-4">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="heading" scope="col">Player 1</th>
        <th class="heading" scope="col">PTS</th>
        <th class="heading" scope="col"></th>
        <th class="heading" scope="col">PTS</th>
        <th class="heading" scope="col">Player 2</th>
      <% if (user) { %><th class="heading" scope="col">Remove?</th><% } %>
      </tr>
    </thead>

    <tbody>
      <% matches.forEach(match => { %>
        <script>
          var date = new Date('<%= match.date %>')
          var d = date.getDate()
          var m = date.getMonth() + 1
          var y = date.getFullYear()

          console.log(`d:${d}, m:${m}, y:${y}`)
        </script>

        <tr>
          <td class=""><%= match.p1.id.name %></td>
          <td class=""><%= match.p1.score %></td>
          <td class="">vs</td>
          <td class=""><%= match.p2.score %></td>
          <td class=""><%= match.p2.id.name %></td>
          <% if (user && user._id.equals(match.created_by) && match.recent) { %>
            <td>
              <a href="/matches/delete/<%= match.id %>">Delete</a>
            </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>