<div class="history">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="heading" scope="col">Date</th>
        <th class="heading" scope="col">Player 1</th>
        <th class="heading" scope="col">Score</th>
        <th class="heading" scope="col">Player 2</th>
      </tr>
    </thead>

    <tbody>
      <% matches.forEach(match => { %>
        <tr>
          <td class="history__col">
            <span class="mobile-hide"><%= match.formattedDate %></span>
            <span class="desktop-hide"><%= match.shortDate %></span>
          </td>
          <td class="history__col">
            <span class="mobile-hide"><%= match.p1.id.name %></span>
            <span class="desktop-hide"><%= match.p1.id.shortName %></span>
          </td>
          <td class="history__col"><%= match.p1.score %> : <%= match.p2.score %></td>
          <td class="history__col history__col--name">
            <span class="mobile-hide"><%= match.p2.id.name %></span>
            <span class="desktop-hide"><%= match.p2.id.shortName %></span>

            <!-- <% if (user && user._id.equals(match.created_by) && match.recent) { %>
              <a class="remove-match" href="/matches/delete/<%= match._id %>">
                <i class="fas fa-times"></i>
              </a>
            <% } %> -->
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>