<div class="container mt-4">
  <h2>Leaderboard</h2>

  <p class="lead mb-3 d-none">Welcome <%= user ? user.name : 'Guest' %></p>

  <%- include('./partials/messages') -%>

  <% if (user) { %><a href="/matches/new" class="btn btn-success">Add new match</a><% } %>

  <a href="/matches/history" class="btn btn-primary">View previous matches</a>

  <% if (user) { %>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <% } else { %>
    <a href="/users/login" class="btn btn-secondary">Login</a>
  <% } %>
</div>

<div class="leaderboard mt-4">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="leaderboard-heading__rank heading center-col">#</th>
        <th class="leaderboard-heading__player heading" style="width: 25%;">NAME</th>
        <th class="leaderboard-heading__played heading center-col mobile-hide">PLD</th>
        <th class="leaderboard-heading__won heading center-col">W<span class="mobile-hide">ON</span></th>
        <th class="leaderboard-heading__lost heading center-col">L<span class="mobile-hide">OST</span></th>
        <th class="leaderboard-heading__diff heading center-col">+/-</th>
        <th class="leaderboard-heading__win-percent heading center-col">W<span class="mobile-hide">IN&nbsp;</span>%</th>
        <th class="leaderboard-heading__form heading center-col mobile-hide" style="width: 25%;">FORM</th>
      </tr>
    </thead>

    <tbody>
      <% standings.ranked.forEach((player, index) => { %>
        <% var name = player.name %>
        <% var player_initials = name.match(/\b\w/g) || [] %>
        <% player_initials = ((player_initials.shift() || '') + (player_initials.pop() || '')).toUpperCase() %>

        <tr>
          <td class="center-col leaderboard__rank"<%= (index < 3) ? ` data-rank=${(index + 1)}` : '' %>>
            <% if (index < 3) { %>
              <i class="fas fa-medal"></i>
            <% } else { %>
              #<%= (index + 1) %>
            <% } %>
          </td>
          <td class="leaderboard__player mobile-hide"><%= player.name %></td>
          <td class="leaderboard__player desktop-hide"><%= player_initials %></td>
          <td class="center-col leaderboard__games-played mobile-hide"><%= player.stats.played %></td>
          <td class="center-col leaderboard__games-won"><%= player.stats.won %></td>
          <td class="center-col leaderboard__games-lost"><%= player.stats.lost %></td>
          <td class="center-col leaderboard__point-diff"><%= player.stats.scoreDiff %></td>
          <td class="center-col leaderboard__win-percent"><%= player.stats.winningPercent %>%</td>
          <td class="center-col leaderboard__form mobile-hide">
            <% player.stats.last5.forEach(result => { %>
              <i class="fas fa-<%= (result === 1) ? 'check' : 'times' %>-circle text-<%= (result === 1) ? 'success' : 'danger' %>"></i>
            <% }) %>
          </td>
        </tr>
      <% }) %>

      <% standings.unranked.forEach((player, index) => { %>
        <% var name = player.name %>
        <% var player_initials = name.match(/\b\w/g) || [] %>
        <% player_initials = ((player_initials.shift() || '') + (player_initials.pop() || '')).toUpperCase() %>

        <tr class="unranked">
          <td class="center-col leaderboard__rank">-</td>
          <td class="leaderboard__player mobile-hide"><%= player.name %></td>
          <td class="leaderboard__player desktop-hide"><%= player_initials %></td>
          <td class="center-col leaderboard__games-played mobile-hide"><%= player.stats.played %></td>
          <td class="center-col leaderboard__games-won"><%= player.stats.won %></td>
          <td class="center-col leaderboard__games-lost"><%= player.stats.lost %></td>
          <td class="center-col leaderboard__point-diff"><%= player.stats.scoreDiff %></td>
          <td class="center-col leaderboard__win-percent"><%= player.stats.winningPercent %>%</td>
          <td class="center-col leaderboard__form mobile-hide">
            <% player.stats.last5.forEach(result => { %>
              <i class="fas fa-<%= (result === 1) ? 'check' : 'times' %>-circle"></i>
            <% }) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>