<div class="container">
  <h1 class="mt-4">Leaderboard</h1>

  <p class="lead mb-3">Welcome <%= user.name %></p>

  <%- include('./partials/messages') -%>

  <a href="/users/logout" class="btn btn-secondary">Logout</a>

  <a href="/matches/new" class="btn btn-primary">Add new match</a>

  <a href="/matches/history" class="btn btn-secondary">View previous matches</a>
</div>

<ul>
  <% standings.forEach((player, index) => { %>
    <li>
      <span class="leaderboard__rank"><%= (index + 1) %></span>
      <span class="leaderboard__player"><%= player.name %></span>
      <span class="leaderboard__games-played"><%= player.stats.played %></span>
      <span class="leaderboard__games-won"><%= player.stats.won %></span>
      <span class="leaderboard__games-lost"><%= player.stats.lost %></span>
      <span class="leaderboard__points"><%= player.stats.points %></span>
      <span class="leaderboard__form"><%= player.name %></span>
    </li>
  <% }) %>
</ul>