<div class="container mt-4">
  <h1>Leaderboard</h1>

  <!-- <p class="lead mb-3">Welcome <%= user.name %></p> -->

  <%- include('./partials/messages') -%>

  <a href="/matches/new" class="btn btn-success">Add new match</a>

  <a href="/matches/history" class="btn btn-primary">View previous matches</a>

  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>

<div class="container mt-4">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="heading center-col" scope="col">#</th>
        <th class="heading" scope="col" style="width: 25%;">NAME</th>
        <th class="heading center-col" scope="col">PLD</th>
        <th class="heading center-col" scope="col">WON</th>
        <th class="heading center-col" scope="col">LOSS</th>
        <th class="heading center-col" scope="col">+/-</th>
        <th class="heading center-col" scope="col">WIN %</th>
        <th class="heading center-col" scope="col" style="width: 15%;">FORM</th>
      </tr>
    </thead>

    <tbody>
      <% standings.forEach((player, index) => { %>
        <tr>
          <td class="center-col leaderboard__rank"<%= (index < 3) ? ` data-rank=${(index + 1)}` : '' %>>
            <% if (index < 3) { %>
              <i class="fas fa-medal"></i>
            <% } else { %>
              #<%= (index + 1) %>
            <% } %>
          </td>
          <td class="leaderboard__player"><%= player.name %></td>
          <td class="center-col leaderboard__games-played"><%= player.stats.played %></td>
          <td class="center-col leaderboard__games-won"><%= player.stats.won %></td>
          <td class="center-col leaderboard__games-lost"><%= player.stats.lost %></td>
          <td class="center-col leaderboard__point-diff"><%= player.stats.scoreDiff %></td>
          <td class="center-col leaderboard__win-percent"><%= player.stats.winningPercent %>%</td>
          <td class="center-col leaderboard__form">
            <% player.stats.last5.forEach(result => { %>
              <i class="fas fa-<%= (result === 1) ? 'check' : 'times' %>-circle text-<%= (result === 1) ? 'success' : 'danger' %>"></i>
            <% }) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>